@model Learnify.Models.loginDetails;
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Title -->
<div class="page-title light-background">
    <div class="container d-lg-flex justify-content-between align-items-center">
        <h1 class="mb-2 mb-lg-0">Login</h1>
        <nav class="breadcrumbs">
            <ol>
                <li><a href="index.html">Home</a></li>
                <li class="current">Login</li>
            </ol>
        </nav>
    </div>
</div><!-- End Page Title -->

<section id="login" class="login section">

    <div class="container" data-aos="fade-up">
        <div class="row g-4 g-lg-5" data-aos="fade-up" data-aos-delay="200">
            <div class="col-lg-7">

                <form asp-controller="Home" asp-action="Login" method="post">
                    <!-- Email input -->
                    <div data-mdb-input-init class="form-outline mb-3">
                        <input type="email" id="form2Example1" class="form-control" asp-for="email" placeholder="Email" />
                        <label class="form-label" for="form2Example1">Email address</label>
                    </div>

                    <!-- Password input -->
                    <div data-mdb-input-init class="form-outline mb-3">
                        <input type="password" id="form2Example2" class="form-control" asp-for="password" placeholder="Password"/>
                        <label class="form-label" for="form2Example2">Password</label>
                    </div>

                    <!-- Submit button -->
                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-3">Sign in</button>

                    <!-- Register buttons -->
                    <div class="text-center">
                        <p>Not a member? <a href="/Home/Register">Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


